body {
  margin: 0;
  font-family: "Helvetica", Arial, sans-serif;
  background: #ffffff;
  color: #111111;
}


.page-header {
  max-width: 960px;
  margin: 64px auto 48px;
  padding: 0 24px;
}

.page-header h1 {
  font-family: 'Georgia', serif;
  font-size: 48px;
  margin: 0 0 16px;
}

.page-header p {
  font-size: 16px;
  margin: 0;
  color: #666;
}


.content {
  display: flex;
  align-items: end; 
  gap: 158px;
  max-width: 960px;
  margin: -10px auto 0px;
  padding: 0 24px 80px;
}

.note #first {
  font-size: 15px;
  margin: 0 0 25px;
  font-weight: bold;
}

.note #second {
  font-size: 16px;
  margin: 7px 160px 7px 0px;
  color: #666;
  line-height: 1.3;
  word-spacing: 1px;
}

span{
    background-color: #cefde2;
}


.btn {
  background: #03a87c;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 54px;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 0px;
  display: inline-block;
  white-space: nowrap;
}


.button-area{
    margin-right: 20px;
}
